<div class="main-container">
  <h1>{{ title }}</h1>
  <ul>
    <li *ngFor="let todo of todos">
      <div class="taskArea">
        <div class="taskTxt">
          {{ todo.id }}. <span style="word-break: break-word;" contenteditable="true">{{ todo.title }}</span>
        </div>
        <div class="buttons">
          <button (click)="markAsDone(todo)" *ngIf="!todo.done">Concluir</button>
          <button (click)="markAsUndone(todo)" *ngIf="todo.done">Refazer</button>
          |
          <button (click)="remove(todo)">Excluir</button>
        </div>
      </div>
    </li>
    <input #taskInput (keyup.enter)="addTask(taskInput)" name="taskInput" type="text" placeholder="Add task...">
    <button (click)="resetAll()" id="resetAll">Reset All</button>
  </ul>
</div>

